{erl_opts, [
			{parse_transform, lager_transform},
			debug_info,
			%%no_debug_info
			{i, "apps/erl_plugins/src/include"},
			%% copy from ejabberd rebar.config
			{platform_define, "^((1[8|9])|2)", strong_rand_bytes},
			warnings_as_errors,
			warn_shadow_vars,
			warn_unused_record,
			warn_obsolete_guard
		   ]}.

{minimum_otp_vsn, "R16"}.

{deps, [
		{recon, "2.3.2"},
		{eper, {git, "https://github.com/massemanet/eper", {branch, "master"}}}, %% for the tag v0.98.0 not found, use master branch
		{lager, "3.4.2"},
		{mysql_poolboy, {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.1.7"}}},
		%{cuttlefish, "2.0.11"}
	   ]}.

{relx, [{release, { erl_plugins, "0.1.0" },
		 [erl_plugins,
		  sasl,
		  recon,
		  eper,
		  lager,
		  goldrush,
		  mysql_poolboy,
		  poolboy,
		  mysql
		 ]},

		{sys_config, "./config/sys.config"},
		{vm_args, "./config/vm.args"},

		{dev_mode, true},
		{include_src, false},
		{include_erts, false},
		{overlay, [
				   %% example lists
				   {mkdir, "etc/"},
				   {copy, "rebar3", "etc/"}
				  ]},

		{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
							{include_erts, true}]}]
			}]
}.
