{erl_opts, [
			debug_info,
			%% copy from ejabberd rebar.config
			{platform_define, "^((1[8|9])|2)", strong_rand_bytes},
			warnings_as_errors
		   ]}.
{deps, []}.

{relx, [{release, { erl_plugins, "0.1.0" },
		 [erl_plugins,
		  sasl]},

		{sys_config, "./config/sys.config"},
		{vm_args, "./config/vm.args"},

		{dev_mode, true},
		{include_erts, false},
		{overlay, [
				   %% example lists
				   {mkdir, "etc/"},
				   {copy, "rebar3", "etc/"}
				  ]},

		{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
							{include_erts, true}]}]
			}]
}.
